@media only screen and (min-width: 1024px) {
    
    .hero p {
        margin-bottom: 150px;
    }
    
    .activity-list {
        flex-direction: row;
    }
    

    .bold-paragraph {
        font-weight: bold;
    }
    
    .about-me {
        flex-direction: row;
        max-width: 600px;
        margin: 50px auto;
    }
}