body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

:root {
    --primary-color: rgb(48, 48, 97);
    --secondary-color: rgb(57, 83, 110);
    --accent1-color: rgb(200, 212, 226);
    --accent2-color: rgb(205, 205, 237);
}

.hero {
    background: url(images/hero.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 200px;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.hero p {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 40px 5px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    margin: 0 20px 90px 20px
}

.activity-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.activities {
    background-color: var(--accent1-color);
    padding: 0px 20px 50px 20px;
}

.activities h2 {
    margin: 0 20px 50px 20px;
    padding-top: 50px;
    color: var(--primary-color);
}



.activity img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bold-paragraph {
    font-weight: bold;
}

.about-me img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
    margin: 50px 20px 50px 20px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px var(--primary-color);
}